:root {
  font-family: 'Press Start 2P', system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.titulo {
  display: flex;
  flex-direction: row;
  font-family: 'Press Start 2P', system-ui;
  justify-content: center;
  gap: 1rem;
  word-spacing: -1rem;
  text-shadow: -1px -1px rgb(151, 96, 0), 1px 1px rgb(255, 199, 102);
  color: #2687e9;
  font-size: 17px;
}

.hidden {
  opacity: 0;
}
.titulo img {
  margin-top: 30px;
}

body {
  background-color: #020e30;
  width: 100%;
  height: 100%;
  font-family: 'Pixelify Sans', sans-serif;
}

.titulo h1 {
  margin-top: 60px;
}

#juego {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  grid-template-columns: repeat(4, 200px);
  gap: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
}
#juego div {
  display: flex;
  position: relative;
  border-radius: 1rem;
  justify-self: auto;
  align-items: center;
  border: 5px #031626 ridge;
  background-color: #2b2768;
  height: 200px;
  width: 200px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}
.carta:hover {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#juego img {
  display: flex;
  position: relative;
  height: 200px;
  margin: auto;
  border: solid 0.5px rgb(133, 161, 206);
  border-radius: 1rem;
  width: 200px;
}


@keyframes flip-vertical {
			
  0% {
    transform:rotateY(0);
  }
  100% {
    transform:rotateY(180deg);
  }
}
.carta.flipped {
  width: 100px; height: 100px; background-color:#ffe672; 
		
  animation-name: flip-vertical;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
    
 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#contenedor-botones {
  display: grid;
  justify-self: center;
  margin: 60px 30px 40px;
}
#contenedor-botones p {
  margin: 5px;
  font-family: 'Press Start 2P', system-ui;
  color: white;
  flex-direction: column;
  justify-self: center;
}
.boton {
  display: flex;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Press Start 2P', system-ui;
  justify-content: center;
  justify-self: center;
  margin: 30px;
  margin-top: 30px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  background-color: rgb(248, 165, 11);
  text-shadow: -1px -1px rgb(39, 25, 0), 1px 1px rgb(255, 206, 116);
  color: rgb(167, 113, 12);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  width: auto;
  border-radius: 7px;
  box-shadow: 0 0.2em rgb(120, 88, 41);
  border: none;
  cursor: pointer;
}
.carta:hover {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
@keyframes hvr-hang-sink {
  100% {
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(8px);
  }
}
.contenedor-mensaje-victoria {
  position: absolute;
  font-family: 'Press Start 2P', system-ui;
  border-radius: 1rem;
  top: 50%;
  left: 20%;
  right: 20%;
  transform: translate(-50%, -50%);

  z-index: 999; /* Asegura que esté encima de otros elementos */
  text-align: center;
  display: grid;
  place-content: center;
  text-shadow: 0 1px 0 #000;

  --border-angle: 0turn; /* For animation. */
  --main-bg: conic-gradient(
    from var(--border-angle),
    #020e30,
    rgb(17, 17, 63) 5%,
    #0b2059 60%,
    #213363 95%
  );

  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #08f,
    rgb(255, 179, 0) 99%,
    transparent
  );

  background: 
    /* padding-box clip this background in to the overall element except the border. */ var(
        --main-bg
      )
      padding-box,
    /* border-box extends this background to the border space */
      var(--gradient-border) border-box,
    /* Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background. */
      var(--main-bg) border-box;

  background-position: center center;

  animation: bg-spin 3s linear infinite, fadein 1s linear 0s 1 normal forwards;
}

.contenedor-mensaje-victoria :hover {
  animation-play-state: paused;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Custom Property for --border-angle */
@property --border-angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0turn;
}

.mensaje-victoria {
  align-items: center;
  margin-bottom: auto;
  color: #2687e9;
  text-shadow: -1px -1px rgb(151, 96, 0), 1px 1px rgb(255, 199, 102);
  justify-self: center;
}

button:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
